@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is not a game. There's a lot of science involved but that doesn't necessarily mean it's not worth it.</p>