@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   ThreeThreeThree Plankinton Avenue<br />
    Milwaukee, WI 53203<br />
    <abbr title="Phone">P:</abbr>
    414.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dan0yang@outlook.com">FitnessAdvisorSupport@fitnessadvisor.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:dan0yang@outlook.com"">FitnessAdvisorMarketing@fitnessadvisor.com</a>
</address>