
@{
    ViewBag.Title = "Meal";
}

<h2>Meal Plan for @ViewBag.date</h2>

<h3>Meal 1</h3>
<table width="370">
    <tr>
        <th>
            Food
        </th>
        <th>
            Calories
        </th>
    </tr>
    <tr>
        <td>
           Corn half cup
        </td>
        <td>
            185 calories
        </td>
    </tr>
    <tr>
        <td>
            Banana 8"
        </td>
        <td>
            121 calories
        </td>
    </tr>
    <tr>
        <td>
            Chicken patty with cheddar cheese slice
        </td>
        <td>
            213 calories
        </td>
    </tr>
    <tr>
        <td>
            Slice of whole grain bread
        </td>
        <td>
            70 calories
        </td>
    </tr>
</table>
<br />
<h3>Meal 2</h3>
<table width="370">
    <tr>
        <th>
            Food
        </th>
        <th>
            Calories
        </th>
    </tr>
    <tr>
        <td>
            Veggie Garden Medley
        </td>
        <td>
            50 calories
        </td>
    </tr>
    <tr>
        <td>
            Orange
        </td>
        <td>
            107 calories
        </td>
    </tr>
    <tr>
        <td>
            Choice beef 3oz 1/4" trim
        </td>
        <td>
            256 calories
        </td>
    </tr>
    <tr>
        <td>
            Raisin Bran 1 cup
        </td>
        <td>
            170 calories
        </td>
    </tr>
</table>
<br />
<h3>Meal 3</h3>
<table width="370">
    <tr>
        <th>
            Food
        </th>
        <th>
            Calories
        </th>
    </tr>
    <tr>
        <td>
            Chicken caesar salad 1.5 cup
        </td>
        <td>
            185 calories
        </td>
    </tr>
    <tr>
        <td>
            Medium Apple
        </td>
        <td>
            95 calories
        </td>
    </tr>
    <tr>
        <td>
            Atlantic cod 5 by 5 by 1.5 piece
        </td>
        <td>
            189 calories
        </td>
    </tr>
    <tr>
        <td>
            PBJ Sandwich
        </td>
        <td>
            190 calories
        </td>
    </tr>
</table>
<br />
<br />
<div>
    <a class="btn btn-default" style="background-color:green; margin: 0 0 0 3em; font-size: 16px" href="/Home/Index">Yes </a>
    <a class="btn btn-default" style="background-color:red; margin: 0 0 0 12em; font-size: 16px" href="/Home/Index">No  </a>
</div>