
@{
    ViewBag.Title = "StartHere";
}

<h2>Start Here</h2>
<br />
<br />
<div align="center">
    <h1 style="text-align: center">To better health!</h1>
    <p>Start here to begin your customized workoutplan!</p>
    <a class="btn btn-default" @*style="background-color:red"*@ href="/UserInformations/Create">Start</a>
</div>